{% extends 'catalog/base.html' %}
{% block title %}Главная{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    {% if user.is_authenticated %}
        <h2>Добро пожаловать, {{ user.username }}!</h2>
    {% else %}
        <h2>Добро пожаловать на сайт для любителей манги и комиксов!</h2>
    {% endif %}
</div>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Каталог</h1>
    <p class="lead">На нашем сайте Вы можете приобрести следующие товары:</p>
</div>

<div class="container">
    <div class="row text-center  justify-content-center">
        {% for product in posts %}
        <div class="col-3 mb-3">
            <div class="card h-100 d-flex flex-column">
                <div class="card-body ">
                    <img src="{{ product.image.url }}" class="card-img-top"
                         style="width: 250px; height: 400px; object-fit: cover;" alt="{{ product.name }}">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                            <a href="{% url 'catalog:info_product' product.pk %}" class="btn btn-info mt-auto">
                            Подробнее
                            </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
        {% include "catalog/pagination.html" %}
        </div>
    </div>
</div>
    {% endblock %}
