{% extends 'catalog/base.html' %}
{% block title %}Информация о товаре{% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Информация о товаре</h1>
    <p class="lead fw-bold fs-3">{{product.category.name}}</p>
</div>

<div class="container">
    <div class="row text-center" style="text-align: center">
        <div class="col-3 mx-auto">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal fw-bold fs-3">{{ product.name }}</h4>
                </div>
                <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ product.purchase_price }} руб.</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li class="text-center"> {{ product.description }}</li>
                    </ul>
                    <button type="button" class="btn btn-primary mt-auto">Купить</button>
                    <a href="{% url 'catalog:delete' product.pk %}" class="btn btn-danger mt-auto">Удалить</a>
                    <a href="{% url 'catalog:update' product.pk %}" class="btn btn-info mt-auto">Изменить</a>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}
